body {
    background-color: black;
    color: #0f0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Space Mono", monospace;
    position: relative;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50vh;
    width: 100%;
}
.buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50vh;
    width: 100%;
    margin-top: 15;
    display: inline-block;
}
.button {
    font-family: "Space Mono", monospace;
    font-weight: bolder;
    padding: 20px;
    margin: 10px;
    border-radius:10px;
    border: 2px solid #0f0;
    color: #0f0;
    background-color: transparent;
    transition: box-shadow 1s ease;
    transition: background-color 5s ease;
    transition: color 1s ease;
}

.button:hover {
    color: #000;
    background-color: #0f0;
    box-shadow: 0 0.0 30px rgb(27, 255, 27);
}

.matrix-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Place the background behind other content */
    background-color: #000;
    opacity: 0.5;
}

.matrix-fall {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

.matrix-fall > div {
    position: absolute;
    animation: fallAnimation 5s linear infinite;
    white-space: nowrap;
    z-index: -1;
}

.text-scramble {
    justify-content: center;
    align-items: center;;
}
.text-scramblemain {
    justify-content: center;
    align-items: center;
}
@keyframes fallAnimation {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100vh);
    }
}
